.team {
	color:black;
	font-size: 25px;
	background-color: white;
	padding: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	transition: all 0.3s ease;

	

	&__standings {
		display: flex;


	}

	&__content {
		display: flex;
		margin: 70px 0 20px 0;
		justify-content: center;

		&__french, &__english {
			box-shadow: 2px 2px 5px 0px rgba(176,176,176,1);
			padding: 20px 60px;
			width: 10%;
			margin: 0 100px;
			transition: all 0.2s ease;
			background-color: white;

			&:hover {
				cursor: pointer;
				color: grey;
				transform: scale(1.2);
			}

			&__teamname {
				font-weight: 600;
			}

			&__teamlogo {
				width: 70%;
				margin: 30px auto 0 auto;
				

				img {
					max-width: 100%;
				}
				
			}
		}
	}

	&__header {

		&__title {
			font-weight: bold;
			font-size: 35px;
			margin-bottom: 10px;
		}

	}

	&__text {
		font-weight: bold;
		margin-left: 7px;
	}
}
